#
# vegapi - https://github.com/jodusnodus/vegapi.git
#
# Copyright (c) 2018 JodusNodus
#

# Jetbrains Editors
.idea/
*.iml

# Node & NPM
node_modules/
npm-debug.log

# JSDoc
jsdoc/
apidoc/

# Settings
#settings.*.json

logs
storage
